@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

/* Custom Scrollbar for Gen Z vibe */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #9d00ff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ccff00;
}
